/* Reset Css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(101.07deg, #b11731 7.93%, #f01414 93.3%);
}

.container {
    margin: 12px auto;
    width: 500px;
    height: calc(100vh - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__photo {
    top: 10px;
    width: 104px;
    height: 104px;
    display: flex;
    position: absolute;
    border-radius: 50%;
}

.container__name {
    position: absolute;
    top: 120px;
}

.container__subtitle {
    position: absolute;
    top: 140px;
}

.container__paragraph {
    position: absolute;
    top: 165px;
}

.container__midias-sociais {
    position: relative;
    display: flex;
    height: 60px;
    width: 223px;
    align-items: center;
    justify-content: space-around;
    top: 176px;
    background: rgba(224,224,224,.35);
    border-radius: 50px;
}

.container__midias-sociais a i {
    font-size: 45px;
}

.container2 {
    width: 403px;
    height: 250px;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    margin: -180px auto;
}