:root {
    --bg-color: #274075;
    --bg2-color: #F1D302;
    --bgbt-color: #FDFFFC;
    --text-color: #161925;
}

/* Reset Css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    /*background: #D2F6FC;*/
    background-color: var(--bg-color);
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin: 20px 0 0 0;
    width: 500px;
    height: calc(100vh - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    /*color: rgba(0, 0, 0, .75);*/
    color: var(--text-color);
    font-size: 30px;
}

.container .container__photo {
    margin-bottom: 20px;
    width: 104px;
    height: 104px;
    display: flex;
    position: absolute;
    border-radius: 50%;
    object-fit: cover;
}

.container__name {
    position: absolute;
    margin-top: 115px;
}

.container__subtitle {
    position: absolute;
    margin-top: 165px;
}

.container2 {
    /*background: #6730EC;*/
    background: var(--bg2-color);
    width: 100%;
    height: 100%;
    border-radius: 50px 50px 0 0;
    position: relative;
    margin-top: 300px;
}

.container__midias-sociais {
    height: 46px;
    width: 223px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(224,224,224,.35);
    /* background: var(--bgbt-color); */
    border-radius: 50px;
    position: absolute;
    top: -22px;
    left: calc(50% - 111px);
}

.container__midias-sociais a  {
    border-radius: 50%;
    font-size: 40px;
    color: rgb(0, 0, 0);
}

.container__subtitle-icons {
    position: absolute;
    margin-top: 205px;
    font-size: 35px;
}

.container__midias-sociais i:hover {
    font-size: 40px;
}

.container2__video {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 75px 0 20px;
}

.container2_button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 223px;
    margin: 10px auto;
    /*background: #D2F6FC;*/
    background: var(--bgbt-color);
    border-radius: 50px;
}

.container2 p {
    margin: 50px 100px;
    position: absolute;
    font-size: 20px;
}